<head>
<!-- Bootswatch Theme -->
<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="container-fluid">
        <h1>Ejercicio Cohetes</h1>
        <div class="button-group btn">
            <div class="create-rockets mb-4">
                <button class="ml-1 mr-2 btn btn-dark create-rocket1">Create rocket 1</button>
                <button class="ml-1 mr-2 btn btn-dark create-rocket2">Create rocket 2</button>
            </div>
            <div class="accelerate-rockets mb-4">
                <button class="ml-1 mr-2 btn btn-dark accelerate-rocket1">Accelerate rocket 1</button>
                <button class="ml-1 mr-2 btn btn-dark accelerate-rocket2">Accelerate rocket 2</button>
            </div>
            <div class="brake-rockets mb-4">
                <button class="ml-1 mr-2 btn btn-dark brake-rocket1">Break rocket 1</button>
                <button class="ml-1 mr-2 btn btn-dark brake-rocket2">Break rocket 2</button>
            </div>
            <div class="print-rockets">
                <button class="ml-1 mr-2 btn btn-dark print-rocket1">Print rocket 1 info</button>
                <button class="ml-1 mr-2 btn btn-dark print-rocket2">Print rocket 2 info</button>
                <button class="ml-1 mr-2 btn btn-dark print-all-rockets">Print all rockets</button>
            </div>
        </div>
        <div id="result">
        </div>

    </div>

    <script src="../models/rocket.js"></script>
    <script src="../controllers/controller.js"></script>
    <script src="../controllers/validate.js"></script>
</body>
