<head>
<!-- Bootswatch Theme -->
<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="container-fluid">
        <h1>Ejercicio Cohetes</h1>
        <div id="result">
        </div>

    </div>

    <script src="../models/rocket.js"></script>
    <script src="../controllers/controller.js"></script>
    <script src="../controllers/validate.js"></script>
</body>
